.leaflet-container {
    height: 100% !important;
    width: 100% !important;
    border-radius: 10px !important;
}

.map-control {
    height: auto;
    width: auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
}

.leaflet-right .leaflet-control {
    margin-right: 0 !important;
}
.leaflet-top .leaflet-control {
    margin-top: 0 !important;
}

.leaflet-div-icon {
    background-color: rgba(0,0,0,0);
    border: none;
    filter: drop-shadow(2px 0px 3px #666);
}

.leaflet-popup-content a {
    display: block;
}

.error-center {
    display: flex;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

.error-center > a {
    margin: 0 auto;
    padding-top: 30%;
}

.wind-popup {
    width: 200px;
    height: auto;
    display: block;
    align-items: center;
}

.wind-popup-header {
    display: block;
}

.wind-popup-header > h1 {
    margin: 0 auto ;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.wind-popup-header > h2 {
    display: flex;
    justify-content: center;
    font-size: 10px;
    letter-spacing: 5px;
}

.wind-popup-body > ul {
    list-style: none;
}

.leaflet-left {
    left: 0;
    padding-top: 10px;
}

.control-bar {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #F0F2F6;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.tide-card-inside {
    display: block;
    padding-top: 10%;
    height: 90%;
    width: 90%;
}
.tide-card-inside span{
    width: 100%;
    display: flex;
    padding-left: 12%;
    color: rgba(255, 255, 255, 0.6)
}
.blue-writing {
    opacity: 0.8;
    color: #0078A8 !important;
}